html,
body,
* {
  padding: 0;
  margin: 0;
  text-align: center;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  margin: 0;
  height: 5vh;
  border-bottom: 1px solid gray;
}

header button {
  padding: 0.5rem 1rem;
  margin: 1rem;
}

#content {
  background-color: rgb(216, 228, 228);
  height: 95vh;
  padding-top: 2rem;
}

h1 {
  padding: 2rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  border: 1px solid gray;
  width: 300px;
  padding: 1rem;
}
